*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #5f5f5f;
}

.container{
    width: 100vw;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.btn{
    box-shadow: 0 0 10px;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: inline-block;

    text-align: center;
    line-height: 40px;
    text-transform:uppercase;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}