*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    width: 100vw;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.btn{
    border: 2px solid #ddd;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: inline-block;

    text-align: center;
    line-height: 40px;
    text-transform:uppercase;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}